<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong><br>
  <%= @comment.cjbundoc %>
</p>

<p>
  <strong>Comment/Suggestion:</strong><br>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
